<h1>Results</h1>

<p>Your score was {{score}}.</p>

{{#if high_score}}
    <p>Your High Score is {{high_score}}.</p>
{{/if}}

{{#if lifetime_score}}
    <p>Your Lifetime score is {{lifetime_score}}.</p>
{{/if}}

<div class="container" id = "profile_buttons_container">
        <a class="btn btn-dark btn-lg" href="/" role="button" id ="game_end_homepage_button">Homepage</a>
        <a class="btn btn-dark btn-lg" href="/leaderboard/global" role="button" id ="game_end_leaderboard_button">Leaderboard</a>
</div>
