<a href="/" id="homepageBtn" name="anchorBtn">Homepage</a>
<div id="formContainer">
    <form  id="gamestartForm" action="/game/gamestart" method="POST">
    <input type="hidden" id="quizType" name="quizType" value="global">
    <p id='quizTypeLabel'>Quiz Type</p>
    <div class = "global_button">
            <a href="#" class="btn btn-link" id = "global_play_button" onclick="globalFunction()">
                <img src="/static/images/global_text.png" alt="Play Button" class="global_button_image">
            </a>
    </div>
    {{#if flag}}
    <div class = "local_button">
            <a href="#" class="btn btn-link" id = "local_play_button" onclick="localFunction()">
                <img src="/static/images/local_text.png" alt="Play Button" class="local_button_image">
            </a>
    </div>
    {{/if}}
    <div id="error" class="error">{{error}}</div>
    </form>
    <script>
        function globalFunction(){
            document.getElementById("quizType").value = "global";
            document.getElementById("gamestartForm").submit();
        }
        function localFunction(){
            document.getElementById("quizType").value = "local";
            document.getElementById("gamestartForm").submit();
        }
    </script>
</div>