<div id="formContainer">
    <form  id="gamestartForm" action="/users/gamestart" method="POST">
    <div id="gamestartContainer">
        <button id="startBtn" type="submit">Start Quiz</button>
    </div>
    </form>
</div>