<a href="/" id="homepageBtn" name="anchorBtn">Homepage</a>
<div id="formContainer">
    <form  id="gamestartForm" action="/game/gamestart" method="POST">
    <div id="gamestartContainer">
        <button id="startBtn" type="submit">Start Quiz</button>
    </div>
    </form>
</div>