<h1>Results</h1>

<p>Your score was {{score}}.</p>

{{#if high_score}}
    <p>Your High Score is {{high_score}}.</p>
{{/if}}

{{#if lifetime_score}}
    <p>Your Lifetime score is {{lifetime_score}}.</p>
{{/if}}

<a id="LeaderBoardBtn" name="anchorBtn" href="/leaderboard/global">Leaderboard</button>
<a id="HomepageBtn" name="anchorBtn" href="/">Homepage</button>