<main>
    <div class="container" id = "profile_container">
        <a class="btn btn-dark btn-lg" href="/users/login" role="button" id ="homepage_login_button">Log In</a>
    </div>
    <div class="container" id = "title_graphic_container">
        <img alt = "Who's that Bird!?" src="/static/images/whos_that_bird_logo.png" id = "homepage_splash_title">
    </div>
    <div class="container" id = "homepage_bird_picture">
        <img alt = "Picture of a Pigeon" src="/static/images/pigeon_picture.jpg" id = "title_pigeon_picture">
    </div>
    <div class="container" id = "main_buttons">
        <div class = "play_button">
            <a href="#" class="btn btn-link" id = "homepage_play_button">
                <img src="/static/images/play_button.png" alt="Play Button">
             </a>
        </div>
        
        <div class = "leaderboard_button">
            <a href="#" class="btn btn-link" id = "homepage_leaderboard_button">
            <img src="/static/images/leaderboard_button.png" alt="Leaderboard Button">
        </a>
    </div>
        
    </div>
</main>