<main class="logout-page">
    <h1 id="logout-h1">You have logged out of your account! We hope to see you again!</h1>
    <br>
    <a href="/game/gamestart" id="quiz-a">Click here to play Who's that Bird!</a>
    <br>
    <a href="/user/login" id="login-a">Click here to login to your account!</a>
    <br>
    <a href="/user/signup" id="signup-a">Click here to sign up for an account!</a>
    <br>
    <a href="/" id="homepage-a">Click here to go to the homepage!</a>
</main>

