<main class="logout-page">
    <h1 id="logout-h1">Log Out</h1>
    <a href="/quiz" id="quiz-a">Click here to take a quiz!</a>
    <a href="/login" id="login-a">Click here to login!</a>
    <a href="'/signup" id="signup-a">Click here to sign up!</a>
</main>

