<main class = "sign-up-page">
    <h1>Create an account!</h1>
    <p class="register_blurb">Enter a valid username and password to make an account.</p>
    <form method="POST" action="/users/signup" id = "signup-form">
        <label for="username">Username:</label>
        <br>
        <input type="text" id="username" name="username">
        <br>
        <label for="password">Password:</label>
        <br>
        <input type="password" id="password" name="password">
        <br>
        <label for="confirmPassword">Confirm password:</label>
        <br>
        <input type="password" id="confirmPassword" name="confirmPassword">
        <br>
        <input class="sign-up-button" type="submit" value="Create account">
    </form>
    <div id="error" class="error" hidden></div>
    <br>
    <a class = "loginLink" href="/users/login">Already have an account? Click here to log-in!</a>
</main>
<script src='/public/js/signup/signup.js'></script>
