/*Use this section of the CSS file for styles that apply to all pages*/

body {
    background-image: url('/static/images/whos_that_pokemon_clean_background.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.error {
    color: red;
}

#error {
    color: red;
}


/*Use this section for styles that apply to the homepage*/
#profile_container{
    text-align: right;
}

#user_icon_button{
    height: 50px;
    width: 50px;
}

.homepage_user_icon{
    height: 75px;
    width: 75px;
} 

#homepage_login_button{
    margin-top: 20px;
    margin-right: -100px;
}

#homepage_splash_title{
    margin-left: -100px;
}

#title_pigeon_picture{
    margin-top: 40px;
}

#main_buttons{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    margin-left: 25%;
}

/* #homepage_play_button{
    text-align: left;
} */

#homepage_leaderboard_button{
    margin-top: 10px
}

.play_button_image:hover{
    content: url("/static/images/play_button_hover.png");
}

.leaderboard_button_image:hover{
    content: url("/static/images/leaderboard_button_hover.png");
}

/*Use this section for styles that apply to the log-in page*/
.log-in-page{
    padding-top: 15%;
    margin: auto;
    width: 50%;
}

/*Use this section for styles that apply to the in-game questions*/

/*Use this section for styles that apply to the end of the game*/

/*Use this section for styles that apply to the leaderboard*/
/* #local_leaderboard_button{
    margin-left: 50%;
}

#global_leaderboard_button{
    margin-left: 60%;
} */


.leaderboard-user-icon {
    height: 25px;
    width: 25px;
}

.leaderboard-table{
    border-spacing:0; 
}

.leaderboard-heading {
    text-align: center;
}

/*Use this section for styles that apply to the user profile*/
#profile-form{
    width:200px;
    padding:20px;
}

#bird_form_link_profile{
    font-size: 20px
}

#user_profile_logout{
    font-size: 30px
}

#user_profile_gamestart{
    font-size: 30px
}


/*Use this section for styles that apply to the signup page*/
.sign-up-page{
    margin-top: 15%;
    margin: auto;
    width: 50%;
}

/*Use this section for styles that apply to the gameplay*/

#timer{
    background: transparent;
    border: none;
}


#imageContainer{
    display:flex;
    justify-content: center;
}
#question{
    width: 200px;
    height: 200px;
    margin: 10px;
    align-self: center;
    align-content: center;
    border: 1px rgb(218, 218, 218) solid;
    background: #C4C4C4 no-repeat 0 0;
}
#options-container{
    display:flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    font-weight: bold;

}
#optionA,#optionB,#optionC,#optionD{
    align-self: center;
    align-content: center;
}

#btnContainer{
    display:flex;
    justify-content: center;
}
#next{
    background-color: cadetblue;

}
#gamestartForm{
    position:relative;
    top:250px; 
    left:750px;
}
#startBtn{
    width: 200px;
    height: 100px;
    margin: -20px -50px; 

    background-color: darkseagreen;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
#homepageBtn,#HomepageBtn,#LeaderBoardBtn{
    display: inline-block;
    width: 115px;
    height: 50px;
    text-decoration: none;
    background: black;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
    margin-inline: 25px;
}
